.RSCcontainer {
	align-items: center;
	padding: 10px;
}

.audioGroup audio {
	margin-inline-start: 20px;
}

.RSCcontainer,
#RSCcard {
	font-family: "nimbus sans", sans-serif;
	display: flex;
	column-gap: 9px;
}
#RSCbottom {
	display: flex;
	column-gap: 9px;
	align-items: center;
}

#RSCbottom svg {
	height: 15px;
	width: auto;
	cursor: pointer;
}

#RSCbutton,
#RSCbuttonSmall {
	box-sizing: content-box;
}

#RSCbutton {
	width: 20px;
	height: 20px;
	padding: 10px;
	border: 1px solid gray;
}

#RSCbutton:hover,
#RSCbuttonSmall:hover {
	cursor: pointer;
}
#RSCcard {
	font-size: 0.9rem;
	margin-block: 5px;
	padding-inline: 10px;
	align-items: center;
}

#RSCbuttonSmall {
	display: flex;
	width: 11px;
	height: 11px;
	border: 1px solid gray;
	padding: 5px;
}
#RSCord,
#RSCtimer {
	color: gray;
	user-select: none;
}

#RSCtimer {
	font-size: 0.8em;
	line-height: 1.6em;
}

#RSCright {
	flex-direction: column;
	justify-content: space-between;
	row-gap: 3px;
}
#RSCprogress {
	max-width: 100%;
	width: 0%;
	height: 100%;
	background-color: gray;
}

#RSCprogressBox {
	width: 100%;
	min-width: 300px;
	background-color: lightgray;
	height: 10px;
	border: 1px solid gray;
}

#RSCtop {
	display: flex;
	justify-content: space-between;
	column-gap: 10px;
	flex-wrap: wrap;
}
