#RSCui,
#audioControls {
	align-items: center;
	padding: 10px;
}
.audioGroup audio {
	margin-inline-start: 20px;
}
.audioGroup {
	padding: 0px;
	margin-block: 0px;
}
.audioGroup .errored {
	cursor: not-allowed;
}
#RSCcard {
	font-size: 0.9rem;
	display: flex;
	column-gap: 9px;
	margin-block: 5px;
	align-items: center;
}
.audioGroup {
	margin-inline: 10px;
}
#RSCui,
#RSCcard {
	font-family: "nimbus sans", sans-serif;
	display: flex;
	column-gap: 9px;
}
.RSCbutton {
	display: flex;
	background-color: transparent;
	border: 0;
	width: auto;
	cursor: pointer;
	box-sizing: content-box;
	padding: 0;
}
.RSCskipbutton[inert] {
	opacity: 0.6;
}
.RSCplaypause {
	border: 1px solid gray;
}
.RSCskipbutton svg {
	height: 15px;
}
.RSCplaypause:hover {
	background-color: rgba(208, 208, 215, 0.3);
}
.RSCbigButton {
	padding: 10px;
	height: 20px;
}
.RSCsmallButton {
	height: 11px;
	padding: 5px;
}
.RSCsmallButton svg {
	width: 11px;
	height: 11px;
}
#RSCord,
#RSCtimer {
	color: gray;
	user-select: none;
}
#RSCtimer {
	font-size: 0.8em;
	line-height: 1.6em;
}
#RSCright {
	flex-direction: column;
	justify-content: space-between;
	row-gap: 3px;
}
#RSCprogress {
	max-width: 100%;
	width: 0;
	height: 100%;
	background-color: gray;
}
#RSCprogressBox {
	cursor: pointer;
	width: 100%;
	min-width: min(300px, 40dvw);
	background-color: #d3d3d3;
	height: 10px;
	border: 1px solid gray;
}
#RSCtop {
	display: flex;
	column-gap: 10px;
	justify-content: space-between;
	flex-wrap: wrap;
}
#RSCbottom {
	display: flex;
	column-gap: 9px;
	align-items: center;
}
